.container-fluid  {
    /* padding-top: 7%; */
}
.form-group {
    margin-top: 0.5rem;
    font-family: 'GilroyLight';
}
.form-group label {
    font-family: 'GilroyBold';
    margin-bottom: 0rem;
    font-size: 15px;
}

.btn {
    width : 50%;
    border-radius: 4%;
}
.btn-block {
    margin-top: 2rem;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}

.back{
    margin-right: 5%;
    /* background : none; */
    border-color: 1 px black;
}

input{
    /* outline-color: green; */
    outline: none;
    /* outline-style: none; */
}

.divider-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #D2D4C8;
    margin: 0 10px;
}

.divider-text {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* You can adjust the text color as needed */
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }