/* FourSidedCircularImage.css */
.four-sided-circular-image {
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* Create a circular shape */
  }
  
  .four-sided-circular-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  }
  
  .four-sided-circular-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
  
  .four-sided-circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire shape */
    background-color: yellow;
  }

  .box1{
    border: 2px solid black ;
    height: 130px; 
    margin-left: 10px;
    font-size: xx-large;
    font-weight: bold;
    width: 250px;
    text-align: right;
    justify-content: center;
    padding: 10px;
    border-radius: 50% 0 0 50%;
    border-block-start-color: blue;
    border-block-end-color: yellow;
    border-left-color: blue;
    border-right-color: yellow; 
  }
  
  .box2{
    border: 2px solid black ;
    height: 130px; 
    margin-right: 10px;
    font-size: xx-large;
    font-weight: bold;
    width: 250px;
    text-align: left;
    justify-content: center;
    padding: 10px;
    border-radius: 0 50% 50% 0;
    border-block-start-color: yellow;
    border-block-end-color: blue;
    border-left-color: yellow;
    border-right-color: blue; 
  }