/* FourSidedCircularImage.css */
  .circular-image{
    width: 200px;
    height: 200px;
    background-color: #ffe500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
  }

  .circular-image img {
    max-width: 100%;
    max-height: 100%;
  }

.right-radius-box {
  border-radius: 0% 47% 47% 0; /* Set left side radius to 50% */
  width: 50%; /* Adjust the width as needed */
  border:3px solid #0000;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to left, blue, yellow);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.left-radius-box {
  /* position: relative; */
  width: 50%;
  
  border:3px solid #0000;
  border-radius:47% 0 0 47%;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, blue, yellow);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
/* .left-radius-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 47% 0 0 47%; 
  padding: 10px; 
  background:linear-gradient(90deg,blue,yellow); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
} */